/* MOTION GENERAL */
article.motion .infoline {
	display: flex;
	justify-content: space-between;
	margin: 0.25em 0 0;
}

article.motion .details {
	font-size: 1.1rem;
	color: var(--spd-red);
	background-image: var(--spd-red-gradient-glassy);
	background-size: 100% 2px;
	background-position: bottom center;
	background-repeat: no-repeat;
	transition-duration: 0.25s;
}

article.motion:hover .details,
article.motion:focus .details {
	background-size: 100% 100%;
	background-position: center center;
}

article.motion .details::after {
	content: ' »';
}

article.motion .status {
	color: var(--gray);
}

article.motion .status::before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0.25em;
	vertical-align: middle;
	border-radius: 0.5em;
	background-color: currentColor;
}

article.motion .status[data-status=accepted]::before {
	background-color: #4fa64e;
}

article.motion .status[data-status=rejected]::before {
	background-color: #d93033;
}

article.motion .status[data-status=draft]::before {
	background-color: #53c8e6;
}


/* MOTION PREVIEW */
section > article.motion .title {
	font-family: var(--font-secondary);
	font-size: 1.4em;
	font-weight: 500;
	margin: 0;
}


/* FULL SIZE MOTION */
main > article.motion header .opener {
	grid-column: content- / -content;
	font-family: var(--font-secondary);
	font-weight: 500;
	margin: 0;
	color: var(--spd-red);
}

main > article.motion header .title {
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0.2em 0;
}

main > article.motion h2 {
	font-size: 1.5em;
	margin: 1em 0;
}

main > article.motion .result {
	grid-column: large- / -large;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

main > article.motion .result div {
	grid-column: unset;
	padding: 1rem;
	box-sizing: border-box;
	background-color: var(--gray-glassy);
}

main > article.motion .result div .title {
	font-family: var(--font-primary);
	font-size: 1.2rem;
	margin: 0 0 0.5em;
	text-align: center;
}

main > article.motion .result div canvas {
	/* important is necessary to override the Chart.js auto resizing */
	width: 100% !important;
	height: auto !important;
}
