/* PERSON PREVIEW */
/* Detailed Person Preview */
section > article.person {
	display: grid;
	grid-column: text- / -text;
	grid-template-columns: [img-] 12rem [-img text-] 1fr [-text];
	grid-auto-flow: dense;
	margin: 0.25rem 0;
	padding: 0;
}

section > article.person:nth-child(2n+1) {
	grid-template-columns: [text-] 1fr [-text img-] 12rem [-img];
}

section > article.person img {
	grid-column: img- / -img;
	height: 15rem;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}

section > article.person > *:not(img) {
	grid-column: text- / -text;
	padding: 0 1rem;
}

section > article.person .name {
	font-weight: 500;
	margin: 0.25em 0;
	/* TODO complete */
}



/* (Small) Person Cards */
section > .person-grid {
	display: grid;
	grid-column: large- / -large;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

article.person-card {
	background-color: var(--background);
}

article.person-card figure {
	margin: 0;
}

article.person-card img {
	width: 100%;
	height: 18rem;
	object-fit: cover;
	object-position: center center;
	border-bottom: 2px solid var(--spd-red);
}

article.person-card figcaption {
	padding: 0.5rem;
}

article.person-card .name {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
}

article.person-card .role {
	margin: 0.25rem 0 0;
}
