/* ARTICLE PREVIEWS */
section > article,
section > article.link a {
	display: block;
	grid-column: content- / -content;
	margin: 0.25rem -0.5rem;
	padding: 0.5rem;
	background-color: var(--background);
}

section > article.link {
	display: contents;
}

section > article > a {
	text-decoration: none;
	color: inherit;
}

section > article.link a {
	background-image: var(--spd-red-gradient);
	background-size: 0 3px;
	background-position: center bottom;
	background-repeat: no-repeat;
	transition-duration: 0.5s;
}

section > article.link > a:hover,
section > article.link > a:focus {
	background-color: var(--spd-red-pastel);
	margin-bottom: 0.5rem;
	padding-bottom: 0.75rem;
	background-size: 100% 3px;
}


/* FULL PAGE ARTICLES */
main > article {
	font-size: 1.1rem;
	padding-bottom: 4rem;
}

main > article > header {
	padding: 4rem 0 2rem;
	background-image: linear-gradient(var(--gray-glassy), var(--gray-glassy));
	background-size: 100% 40rem;
	background-repeat: no-repeat;
}
