[submodule "blog"]
	path = blog
	url = git@github.com:kaiwessela/blog
[submodule "Octopus"]
	path = Octopus
	url = git@github.com:kaiwessela/Octopus
[submodule "ParsedownForBlog"]
	path = ParsedownForBlog
	url = git@github.com:kaiwessela/ParsedownForBlog
