[submodule "Octopus"]
	path = Octopus
	url = git@github.com:kaiwessela/Octopus
[submodule "ParsedownForBlog"]
	path = ParsedownForBlog
	url = git@github.com:kaiwessela/ParsedownForBlog
[submodule "Blog"]
	path = Blog
	url = git@github.com:kaiwessela/Blog
