@import 'article.css';

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'Catamaran';
}

html {
	font-family: var(--font-primary);
	font-size: 100%;
}

body {
	display: grid;
	grid-template-columns: [grid-] 1fr [page-] 10rem [large-] 5rem [content-] 3rem [text-] 24rem [center] 24rem [-text] 3rem [-content] 5rem [-large] 10rem [-page] 1fr [-grid];
	margin: 0;
	padding: 0;
	color: #000000;
	background: #ffffff;
}

body > main,
body > footer {
	display: grid;
	grid-column: grid- / -grid;
	grid-template-columns: inherit;
}

body > header {
	display: grid;
	grid-column: grid- / -grid;
	position: relative;
	grid-template-columns: [grid-] 1fr [nav-] 45rem [-nav logo-] 4.5rem [-logo right-] 45rem [-right] 1fr [-grid];
	grid-template-rows: [bar- expand-] 4.5rem [-expand -bar];
	background: #e3000f;
	box-shadow: 0 1rem 2rem #00000044;
}

body > header > .logo {
	height: 4.5rem;
	grid-column: logo- / -logo;
	grid-row: bar- / -bar;
}

body > header > nav {
	grid-column: nav- / -nav;
	grid-row: expand- / -expand;
	align-self: center;
	overflow: hidden;
}

body > header > nav > ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body > header > nav > ul > li a {
	font-family: 'Catamaran';
	font-weight: 500;
	font-size: 1.2rem;
	margin: 0 0.5rem;
	color: #ffffff;
	text-decoration: none;
	background-image: linear-gradient(#ffffff, #ffffff);
	background-size: 0 0.1em;
	background-position: center bottom;
	background-repeat: no-repeat;
	transition: background 0.25s ease;
}

body > header > nav > ul > li > a:hover,
body > header > nav > ul > li > a:focus {
	background-size: 80% 0.1em;
}

body > header > button.openbtn {
	display: none;
	position: absolute;
	height: 2.5rem;
	width: 2.5rem;
	top: 1rem;
	right: 1.25rem;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
}

body > header > button.openbtn div {
	width: 100%;
	height: 5%;
	margin: 20% 0;
	background-color: #ffffff;
	transform-origin: center center;
	transition: margin 0.25s ease 0.25s, transform 0.25s ease, background 0.25s ease 0.25s;
}

body > header.open > button.openbtn div {
	margin: -5% 0;
	transition: margin 0.25s ease, transform 0.25s ease 0.25s, background 0.25s ease;
}

body > header.notransition > button.openbtn div {
	transition: all 0s linear 0s;
}

body > header.open > button.openbtn div.top {
	transform: rotate(45deg);
}

body > header.open > button.openbtn div.mid {
	background: transparent;
}

body > header.open > button.openbtn div.bot {
	transform: rotate(-45deg);
}

@media (max-width: 95rem) {
	body > header {
		grid-template-columns: [grid-] 1fr [logo-] 4.5rem [-logo] 2rem [nav-] 45rem [-nav] 1fr [-grid];
	}
}

@media (max-width: 52rem) {
	body > header {
		grid-template-columns: [grid- nav-] 1fr [logo-] 4.5rem [-logo] 1fr [-nav -grid];
		grid-template-rows: [bar-] 4.5rem [-bar expand-] auto [-expand];
	}

	body > header > nav {
		background: #ffffff;
	}
}

body > main > section.landscape {
	display: grid;
	grid-column: grid- / -grid;
	grid-template-columns: inherit;
	padding: 2rem 0;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

section,
body > main > article,
article > header,
section > header {
	display: grid;
	grid-column: grid- / -grid;
	grid-template-columns: inherit;
}

body > main > *.notch-before {
	background: #ffffff;
	margin-top: -4rem;
}

main h1,
main div {
	grid-column: content- / -content;
}

main h2,
main h3,
main h4,
main h5,
main h6,
main p {
	grid-column: text- / -text;
}
