@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/Open_Sans/light.woff2') format('woff2'), local('Open Sans Light');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: italic;
	src: url('../fonts/Open_Sans/light-italic.woff2') format('woff2'), local('Open Sans Light Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/Open_Sans/regular.woff2') format('woff2'), local('Open Sans Regular'), local('Open Sans');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/Open_Sans/regular-italic.woff2') format('woff2'),
		local('Open Sans Regular Italic'), local('Open Sans Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/Open_Sans/semibold.woff2') format('woff2'), local('Open Sans Semibold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: italic;
	src: url('../fonts/Open_Sans/semibold-italic.woff2') format('woff2'), local('Open Sans Semibold Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/Open_Sans/bold.woff2') format('woff2'), local('Open Sans Bold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/Open_Sans/bold-italic.woff2') format('woff2'), local('Open Sans Bold Italic');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
	src: url('../fonts/Open_Sans/extrabold.woff2') format('woff2'), local('Open Sans Extrabold');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: italic;
	src: url('../fonts/Open_Sans/extrabold-italic.woff2') format('woff2'), local('Open Sans Extrabold Italic');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 100;
	src: url('../fonts/Catamaran/thin.woff2') format('woff2'), local('Catamaran Thin');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 200;
	src: url('../fonts/Catamaran/extralight.woff2') format('woff2'), local('Catamaran Extralight');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 300;
	src: url('../fonts/Catamaran/light.woff2') format('woff2'), local('Catamaran Light');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 400;
	src: url('../fonts/Catamaran/regular.woff2') format('woff2'), local('Catamaran Regular'), local('Catamaran');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 500;
	src: url('../fonts/Catamaran/medium.woff2') format('woff2'), local('Catamaran Medium');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 600;
	src: url('../fonts/Catamaran/semibold.woff2') format('woff2'), local('Catamaran Semibold');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 700;
	src: url('../fonts/Catamaran/bold.woff2') format('woff2'), local('Catamaran Bold');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 800;
	src: url('../fonts/Catamaran/extrabold.woff2') format('woff2'), local('Catamaran Extrabold');
}

@font-face {
	font-family: 'Catamaran';
	font-weight: 900;
	src: url('../fonts/Catamaran/black.woff2') format('woff2'), local('Catamaran Black');
}

:root {
	--font-primary: 'Open Sans';
	--font-secondary: 'Josefin Sans';
	--color-bg: #ffffff;
	--color-text: #000000;
	--color-text-dark: #222222;
	--color-text-darker: #444444;
	--color-auxiliary-bg: #ffffff;
	--color-auxiliary-text: #000000;
	--color-auxiliary-text-dark: #333333;
	--default-gradient: linear-gradient(45deg, #e3000f, #e3000f);
	--default-gradient-blend: linear-gradient(45deg, #00000009, #00000009);
	--default-shadow: 0 1rem 5rem #00000044;
}

::selection {
	background: #00000044;
}

html {
	font-family: var(--font-primary);
	font-size: 100%;
}

body {
	display: grid;
	grid-template-columns: [grid-start] 1fr [sym-start] 10rem [large-start] 5rem [content-start]
		3rem [text-start] 21.75rem [logo-start] 2.25rem [center] 2.25rem [logo-end] 21.75rem
		[text-end] 3rem [content-end] 5rem [large-end] 10rem [sym-end] 1fr [grid-end];
	margin: 0;
	padding: 0;
	color: var(--color-text);
	background: var(--color-bg);
}

main {
	padding-bottom: 4rem;
	box-shadow: var(--default-shadow);
}

body > *,
main > section,
main > article.post {
	display: grid;
	grid-template-columns: inherit;
	grid-column: grid-start / grid-end;
}

main > *.highlighted,
main > section > header.highlighted,
main > article.post > header {
	display: grid;
	grid-template-columns: inherit;
	grid-column: grid-start / grid-end;
	margin: 0;
	padding: 4rem 0;
	background: var(--default-gradient-blend);
}

main > *.highlighted.image,
main > section > header.highlighted.image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #ffffff;
	text-shadow: 0 0 4rem #000000, 0 0 4rem #000000;
}

main > section > *,
main > section > header > * {
	grid-column: content-start / content-end;
}

p,
div {
	grid-column: content-start / content-end;
	font-family: var(--font-primary);
	margin: 0.5rem 0;
}

section p {
	line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-primary);
}

h1,
article h1 {
	grid-column: large-start / large-end;
	font-size: 4rem;
	line-height: 1.2em;
	margin: 0.2em 0;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	font-family: var(--font-secondary);
	margin: 1em 0;
}

picture {
	grid-column: content-start / content-end;
}

picture > img {
	width: 100%;
	height: auto;
}

figure {
	grid-column: content-start / content-end;
	margin: 0;
}

figure * {
	grid-column: unset;
}

figure figcaption {
	font-size: 0.95rem;
	font-weight: 600;
}

figure figcaption small {
	font-size: 1em;
	font-weight: 400;
	font-style: italic;
	color: #666666;
}

p a,
span a,
div > a,
ul a {
	color: inherit;
	text-decoration: none;
	background: var(--default-gradient) center 1.2em / 100% 0.1em no-repeat;
	transition: background 0.25s ease;
}

p a:hover,
span a:hover,
p a:focus,
span a:focus,
div > a:hover,
div > a:focus,
ul a:hover,
ul a:focus {
	color: #e3000f;
	background-size: 100% 0;
	background-position: center 0.5em;
}

body > header {
	position: relative;
	grid-template-rows: [solid-start expand-start] 4.5rem [solid-end expand-end];
	color: var(--color-auxiliary-text);
	padding: 0.25rem 0 0;
	background: var(--default-gradient) top center / 100% 0.25rem no-repeat, var(--color-auxiliary-bg);
	box-shadow: var(--default-shadow);
}

body > header .logo {
	height: 4.5rem;
	grid-column: logo-start / logo-end;
	grid-row: solid-start / solid-end;
}

body > header nav {
	grid-column: sym-start / logo-start;
	grid-row: expand-start / expand-end;
	align-self: center;
	overflow: hidden;
}

body > header nav ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body > header nav ul a {
	position: relative;
	font-family: var(--font-secondary);
	font-weight: 500;
	font-size: 1.2rem;
	text-decoration: none;
	margin: 0 0.5rem;
	color: #000000;
	background: var(--default-gradient) left bottom / 1em 0.15em no-repeat;
	transition: background 0.25s ease;
}

body > header nav ul a:hover,
body > header nav ul a:focus {
	color: #000000;
	background: var(--default-gradient) left bottom / 100% 0.15em no-repeat;
}

body > header nav ul a:first-of-type {
	margin-left: 0;
}

body > header .opener {
	display: none;
	position: absolute;
	height: 2rem;
	width: 2rem;
	top: 1.5rem;
	right: 1rem;
	margin: 0;
}

body > header .opener button {
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body > header .opener button > div {
	width: 100%;
	height: 0.15rem;
	margin: 0.3rem 0;
	background-color: var(--color-auxiliary-text);
	transform-origin: center center;
	transition: margin 0.25s ease 0.25s, transform 0.25s ease, background 0.25s ease 0.25s;
}

body > header.open .opener button > div {
	margin: -0.15rem 0;
	transition: margin 0.25s ease, transform 0.25s ease 0.25s, background 0.25s ease;
}

body > header.notransition .opener button > div {
	transition: all 0s linear 0s;
}

body > header.open .opener button > .top {
	transform: rotate(45deg);
}

body > header.open .opener button > .middle {
	background-color: transparent;
}

body > header.open .opener button > .bottom {
	transform: rotate(-45deg);
}

body > footer {
	grid-template-rows: auto;
	padding: 4rem 0;
	background: var(--default-gradient-blend), no-repeat center bottom / 100% 0.25rem var(--default-gradient);
}

body > footer > * {
	grid-row: 1 / 2;
}

body > footer .logo {
	grid-column: sym-start / center;
	height: 8rem;
}

body > footer .content {
	grid-column: center / sym-end;
	display: flex;
	justify-content: flex-end;
}

body > footer .content > div {
	width: 16rem;
	margin: 0 1rem;
}

body > footer h2 {
	font-family: var(--font-secondary);
	font-size: 1.3rem;
}

body > footer ul.link-list {
	margin: 0.5rem 0;
	padding: 0;
}

body > footer ul.link-list li {
	margin: 0.25rem 0;
	padding: 0;
	list-style-type: none;
}

body > footer ul.link-list a {
	position: relative;
	text-decoration: none;
	color: inherit;
	font-family: var(--font-secondary);
	font-weight: 500;
	background: var(--default-gradient) left bottom / 0.75em 0.15em no-repeat;
	transition: background 0.25s ease;
}

body > footer ul.link-list a:hover,
body > footer ul.link-list a:focus {
	background: var(--default-gradient) left bottom / 100% 0.15em no-repeat;
}

article.post:not(.preview) > p {
	grid-column: text-start / text-end;
	font-size: 1.1rem;
	line-height: 1.5em;
	hyphens: auto;
}

article.post:not(.preview) > p:first-of-type::first-letter {
	font-family: var(--font-secondary);
	font-size: 5em;
	float: left;
	margin: 0.1em 0.05em 0 -0.05em;
}

article.post:not(.preview) > p:last-of-type::after {
	content: '';
	display: inline-block;
	width: 3em;
	height: 1em;
	margin-left: 1em;
	vertical-align: middle;
	background-image: url('../images/static/Hammer_Icon.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

article.post:not(.preview) > header {
	padding-bottom: 0;
	margin-bottom: 2rem;
}

article.post:not(.preview) > header .overline {
	grid-column: large-start / large-end;
}

article.post:not(.preview) > header .subline {
	grid-column: large-start / large-end;
}

article.post:not(.preview) > header .author-and-date {
	grid-column: text-start / text-end;
	font-size: 1rem;
	margin: 2rem 0 1rem;
	color: var(--color-text-dark);
}

article.post:not(.preview) > img,
article.post:not(.preview) > figure {
	margin-bottom: 2rem;
}

article.post:not(.preview) img {
	border-radius: 0.25rem;
}

article.post .overline {
	font-family: var(--font-secondary);
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0.25em 0;
	color: #e3000f;
}

article.post h1 {
	display: block;
	margin: 0.1em 0;
}

article.post h1 span {
	background: var(--default-gradient) center 1.2em / 100% 0.1em no-repeat;
}

article.post .subline {
	font-family: var(--font-secondary);
	font-style: italic;
	font-size: 2rem;
	font-weight: 600;
	margin: 0.5em 0;
}

article.post .author-and-date {
	font-family: var(--font-secondary);
}

article.post.preview {
	grid-column: content-start / content-end;
	margin: 1rem -0.75rem;
	box-shadow: var(--default-shadow);
	border-radius: 0.5rem;
}

article.post.preview:first-of-type {
	margin-top: 0.5rem;
}

article.post.preview a {
	display: flow-root;
	color: inherit;
	text-decoration: none;
	padding: 0.75rem;
}

article.post.preview .overline {
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
	background: none;
}

article.post.preview h3 {
	font-weight: 700;
	font-size: 2rem;
	margin: 0.1em 0;
}

article.post.preview h3 span {
	display: inline;
	background: var(--default-gradient) left 1.2em / 3em 0.1em no-repeat;
	transition: background 0.5s ease;
}

article.post.preview a:hover h3 span,
article.post.preview a:focus h3 span {
	background-size: 100% 0.1em;
}

article.post.preview .subline {
	font-size: 1.3rem;
	color: var(--color-text-dark);
}

article.post.preview img {
	width: 15rem;
	height: 10rem;
	float: right;
	object-fit: cover;
	object-position: center center;
	border-radius: 0.2rem;
}

.pagination {
	display: flex;
	justify-content: safe center;
	overflow: auto;
}

.pagination a,
.pagination div {
	display: block;
	margin: 0.25rem;
	padding: 0.5rem;
	width: 1.4rem;
	height: 1.4rem;
	text-align: center;
	background: transparent;
	border: 0.1rem solid #e3000f;
	transition-duration: 0.25s;
}

.pagination a:hover,
.pagination a:focus {
	background: #e3000f22;
}

.pagination .current {
	background: #e3000f22;
	font-weight: 600;
}

.pagination .ten {
	width: 2rem;
}

.pagination .first-last {
	width: 3rem;
}

.pagination .hidden {
	filter: grayscale(1);
	opacity: 0.4;
	cursor: not-allowed;
	pointer-events: none;
}

.people-grid {
	display: grid;
	grid-column: large-start / large-end;
	grid-template-columns: repeat(auto-fill, minmax(11rem, 13rem));
	grid-template-rows: repeat(auto-fill, 18rem);
	gap: 1.5rem 1.5rem;
	justify-content: center;
}

.people-grid article {
	position: relative;
	height: 18rem;
	perspective: 100rem;
}

.people-grid article.static {
	transition-duration: 5s;
}

.people-grid article > div {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: var(--default-shadow);
	border-radius: 0.2rem;
}

.people-grid article img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
	border-radius: 0.2rem;
}

.people-grid article .name {
	position: absolute;
	display: block;
	bottom: 2.5rem;
	left: 0.5rem;
	right: 0.5rem;
	margin: 0;
	font-family: var(--font-secondary);
	font-size: 1.4rem;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 0 0 2rem #000000, 0 0 2rem #000000;
	transition-duration: inherit;
}

.people-grid article .line {
	position: absolute;
	display: block;
	height: 0.2rem;
	width: 1rem;
	bottom: 2rem;
	left: 0.5rem;
	margin: 0;
	background-color: #e3000f;
	transition: width 0.25s;
}

.people-grid article:hover .line {
	width: 5rem;
}

.people-grid article .function {
	position: absolute;
	display: block;
	bottom: 0.25rem;
	left: 0.5rem;
	right: 0.5rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 0 0 1rem #000000, 0 0 2rem #000000;
	transition-duration: inherit;
}

.people-grid article:focus,
.people-grid article.static:hover {
	transform: rotateY(-15deg);
}

.people-grid article:focus .name,
.people-grid article.static:hover .name {
	transform: translateX(-1rem);
}

.people-grid article:focus .line,
.people-grid article.static:hover .line {
	transform: translateX(-0.75rem);
}

.people-grid article:focus .function,
.people-grid article.static:hover.name {
	transform: translateX(-0.5rem);
}



section.events {
	background-color: #242424;
	color: #ffffff;
	margin: 2rem 0 -4rem;
	padding: 2rem 0 4rem;
}

section.events.image {
	--bg: linear-gradient(#ffffff, #ffffff);
	background: linear-gradient(#000000bb, #00000000), var(--bg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

article.event {
	--decoration: #1da1f2;
	display: grid;
	grid-template-columns: 5rem auto;
	gap: 0 2rem;
	width: 100%;
	margin: 1rem -0.75rem;
	padding: 0.75rem;
	border-radius: 0.5rem;
	box-shadow: var(--default-shadow);
	background-color: #ffffff;
	color: #000000;
}

article.event .organisation {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-family: var(--font-secondary);
	margin: 0;
	color: var(--decoration);
}

article.event .title {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	font-family: var(--font-primary);
	font-size: 1.5rem;
	margin: 0 0 0.25em;
}

article.event .location {
	grid-column: 2 / 3;
	font-family: var(--font-secondary);
	color: var(--color-text-darker);
	margin: 0;
}

article.event .description {
	grid-column: 2 / 3;
}

article.event .timestamp {
	display: grid;
	grid-column: 1 / 2;
	grid-row: 1 / 5;
	margin: 0;
	padding: 0;
	height: min-content;
}

article.event .day {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	font-family: var(--font-primary);
	font-size: 3.5rem;
	line-height: 3.5rem;
	font-weight: 200;
}

article.event .month {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding: 0.25rem 0;
	font-family: var(--font-secondary);
	color: #e3000f;
	border-bottom: 0.15rem solid var(--decoration);
}

article.event .year {
	display: none;
}

article.event .time {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	margin: 0.25rem 0 0;
	font-weight: 600;
}

article.event[data-organisation=OrtsvereinDudweiler] {
	--decoration: #e3000f;
}

article.event[data-organisation=BezirksverbandDudweiler] {
	--decoration: #b61c3e;
}

article.event[data-organisation=JusosDudweiler] {
	--decoration: #8eccbb;
}

article.event.cancelled {
	--decoration: #00000088;
	background-color: #dddddd;
}

article.event .description .cancelmsg {
	font-weight: 700;
	color: #e3000f;
}




@media (max-width: 86rem) {
	body {
		grid-template-columns: [grid-start] 1fr [sym-start] 5rem [large-start] 5rem [content-start]
			3rem [text-start] 21.75rem [logo-start] 2.25rem [center] 2.25rem [logo-end] 21.75rem
			[text-end] 3rem [content-end] 5rem [large-end] 5rem [sym-end] 1fr [grid-end];
	}
}

@media (max-width: 76rem) {
	body {
		grid-template-columns: [grid-start] 1fr [sym-start large-start] 6rem [content-start] 3rem
			[text-start] 15.75rem [logo-start] 2.25rem [center] 2.25rem [logo-end] 15.75rem
			[text-end] 3rem [content-end] 6rem [large-end sym-end] 1fr [grid-end];
	}
}

@media (max-width: 58rem) {
	body {
		grid-template-columns: [grid-start] 1rem [sym-start large-start content-start text-start]
			1fr [logo-start] 2.25rem [center] 2.25rem [logo-end] 1fr
			[text-end content-end large-end sym-end] 1rem [grid-end];
	}

	h1,
	article h1 {
		font-size: 2rem;
	}

	main > div:first-child,
	main > section:first-child {
		margin-bottom: 1rem;
	}

	article:not(.preview) header {
		margin-bottom: 1rem;
		padding-top: 2rem;
	}

	article.post:not(.preview) p {
		font-size: 1.2rem;
	}

	article.preview .overline {
		font-size: 1rem;
	}

	article.preview h3 {
		font-size: 1.5rem;
	}

	article.preview .subline {
		font-size: 1.1rem;
	}

	article.preview:first-of-type {
		margin-top: 1rem;
	}

	article.preview:last-of-type {
		margin-bottom: 1rem;
	}

	body > footer {
		margin-top: 0;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	body > footer > *:not(.logo) {
		grid-column: sym-start / sym-end !important;
		grid-row: auto !important;
		margin: 1rem 0;
	}

	body > footer .logo {
		grid-column: logo-start / logo-end;
		grid-row: auto;
		width: 4.5rem;
	}

	body > footer .content {
		flex-direction: column;
	}

	body > footer .content > div {
		width: auto;
		margin: 0;
	}
}

@media (max-width: 30rem) {
	article.preview img {
		width: 100%;
		height: auto;
		float: none;
	}
}

/* MENU REORDER (depending on menu item size) (currently the same as above) */
@media (max-width: 76rem) {
	body > header .logo {
		grid-column: sym-start / content-start;
	}

	body > header nav {
		grid-column: text-start / content-end;
	}
}

/* MENU BREAK (depending on menu item size) */
@media (max-width: 58rem) {
	body > header .logo {
		grid-column: logo-start / logo-end;
	}

	body > header {
		grid-template-rows: [solid-start] 4.5rem [solid-end expand-start] auto [expand-end];
		overflow-y: hidden;
	}

	body > header > *:not(.logo) {
		grid-column: sym-start / sym-end !important;
	}

	body > header nav {
		align-self: start;
		height: 0;
	}

	body > header .opener {
		display: block;
	}

	body > header.open nav,
	body > header nav:focus-within {
		height: auto;
		border-top: 1px solid var(--color-auxiliary-text-dark);
	}

	body > header nav ul {
		flex-direction: column;
		justify-content: center;
		margin: 2rem 0;
	}


	body > header nav ul a {
		margin: 0.25rem 0;
	}

	body > header.open nav ul a {
		background: var(--default-gradient) center bottom / 100% 0.15em no-repeat;
	}
}
