/* EVENT PREVIEW */
section > article.event {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
}

section > article.event > time {
	grid-column: 1 / 2;
	width: 6em;
}

section > article.event > time > .day {
	display: block;
	font-family: var(--font-secondary);
	font-size: 4em;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	color: var(--spd-red);
}

section > article.event > time > .month {
	display: block;
	font-size: 1.2em;
	text-align: center;
	color: var(--spd-red);
}

section > article.event > time > .time {
	display: block;
	font-size: 1.2em;
	font-family: var(--font-secondary);
	margin: 0.5em 0 0;
	text-align: center;
}

section > article.event > div {
	grid-column: 2 / 3;
}

section > article .title {
	font-family: var(--font-secondary);
	font-size: 1.4em;
	font-weight: 600;
	margin: 0.1em 0;
}

section > article.event .organisation {
	font-family: var(--font-secondary);
	font-size: 1.1em;
	font-weight: 500;
	margin: 0;
	color: var(--spd-red);
}

section > article.event .location {
	font-family: var(--font-secondary);
	font-size: 1.1em;
	margin: 0;
}
